	<header>
		<div class="headerPic">
			<section class="layout">
				<div class="brand">
					<a href="/"><img src="/images/misc/heading.png" alt="Connect Logo"></a>
				</div>		
			</section>	
		</div>
		<div class="navigation">
			<section class="layout">
				<ul class="nav">
					<li><a href="/"><i class="fa fa-home"></i>Home</a></li>
					<li><a href="/photographers"><i class="fa fa-heart"></i>Photographers</a></li>
					<li><a href="/contact"><i class="fa fa-phone"></i>Contact Us</a></li>
				</ul>
			</section>		
		</div>	
	</header>